<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        
        <link rel="stylesheet" href="/stylesheets/main.css">
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       
        <meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
	    <meta property="og:type"          content="website" />
	    <meta property="og:title"         content="Bookself" />
	    <meta property="og:description"   content="Your description" />
	    <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
    
<script
  src="https://code.jquery.com/jquery-1.11.3.min.js"
  integrity="sha256-7LkWEzqTdpEfELxcZZlS6wAx5Ff13zZ83lYO2/ujj7g="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--<script src="/stylesheets/ajaxModal.js"></script>-->
    </head>
    <body>
        
                
       